/*
* @Author: asus
* @Date:   2017-12-10 14:48:32
* @Last Modified by:   asus
* @Last Modified time: 2017-12-11 09:45:24
*/
@import url('base.css');
body{
	background: #efefef
}
.dabox{
	width: 100%;
	height: 3.75rem;
	background: white;
	
}
.header{
	width: 100%;
	height: 2.75rem;
	background: #0e0f24;
	position: relative;
	/* position: fixed;
	z-index: 999 */

}
.toutop{
	width: 6.59rem;
	height: 0.4rem;
	
	position: absolute;
	top: 0.47rem;
	left: 0.32rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between
}
.a1{
	width: 0.39rem;
	height:0.4rem;
	
	display: block; 
}
.a1 img{
	width: 100%;
	height: 100%
}
.a2{
	width: 2.81rem;
	height: 0.4rem;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between
}
.a22{
	width: 0.39rem;
	height: 0.4rem;
	
	display: block;
}
.a22 img{
	width: 100%;
	height: 100%
}
.touxiang{
	width: 1.62rem;
	height: 1.62rem;
	
	display: block;
	position: absolute;
	top: 1.31rem;
	left: 0.2rem;
}
.touxiang img{
	width: 100%;
	height: 100%
}
.toubottom{
	width: 4.14rem;
	height: 0.74rem;
	
	position: absolute;
	top: 1.53rem;
	left: 2.03rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between
}
.a3{
	width: 4.14rem;
	height: 0.39rem;
	
	color: white;
	line-height: 0.39rem;
}
.a4{
	width: 4.14rem;
	height: 0.22rem;
	
	color: white;
	font-size: 0.22rem;
	line-height: 0.22rem
}
.daohang{
	width: 100%;
	height: 1rem;
	/* position: fixed;
	z-index: 998; */
	position: relative;
	
}
.b1{
	width: 6.7rem;
	height: 0.32rem;
	
	display: block;
	position: absolute;
	top: 0.44rem;
	left: 0.19rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between
}
.b11{
	width: 5.5rem;
	height: 0.32rem;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between
}
.b112{
	width: 0.21rem;
	height: 0.21rem;
	
	
	color: #9d9d9d;
}
.b112 img{
	width: 100%;
	height: 100%
}
.b111{
	width: 0.32rem;
	height: 0.32rem;
	
}
.b111 img{
	width: 100%;
	height: 100%
}
.b11 span{
	font-size: 0.26rem;
	color: black
}
/* .b11 img{
	width: 100%;
	height: 100%
} */
.pj{
	width: 100%;
	height: 8.75rem;

}
.pjtop{
	width: 100%;
	height: 0.71rem;
	background: white;
	border-bottom: 0.01rem solid #e4e4e4;
	display: flex;
	justify-content: center;
	align-items: flex-end
}
.pjwen{
	width: 5.37rem;
	height: 0.58rem;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.pjwen a{
		color: black;
		display: block;
		font-size: 0.28rem;
}
.er a{
	color: #2395ff;
}

/* .er{
	width: 1.31rem;
	height: 0.55rem;

	overflow: hidden
} */
/* .eryi{
	width: 1.31rem;
	display: block;
	
} */
.san{
	width: 0.41rem;
	height: 0.06rem;
	background: #2395ff;
	/* display: block; */
	margin-left: 0.1rem;
	margin-top: 0.1rem;
}
.dizhi{
	width: 100%;
	height: 4.44rem;
	background: white;
	margin-top: 0.2rem;
}
.xxdizhi{
	width: 6.88rem;
	height: 1.51rem;
	border-bottom: 0.01rem solid #e4e4e4;
	
	margin-left: 0.32rem;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-between
}
.dizhitu{
	width: 6.88rem;
	height: 1.96rem;
	
	margin-left: 0.32rem;
	border-bottom: 0.01rem solid #e4e4e4;
	display: block;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/* overflow: hidden */

}
.chakan{
	width: 6.88rem;
	height: 0.95rem;
	
	display: block;
	margin-left: 0.32rem;
	position: relative
}
.dzjuti{
	width: 5.4rem;
	height: 0.69rem;
	
	display: block;
	margin-top: 0.33rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between
}
.dianhua{
	width: 1.14rem;
	height: 0.36rem;
	display: block;
	
	margin-top: 0.56rem;
	border-left: 0.01rem solid #e4e4e4
}
.dianhua img{
	width: 0.4rem;
	height: 100%;
	margin-left: 0.4rem;
}
.dztubaio{
	width: 0.32rem;
	height: 0.32rem;
	
	margin-top: 0.18rem;
}
.dizhizi{
	width: 4.9rem;
	height: 0.69rem;
	
	font-size: 0.28rem;
	color: black
}
.dztubaio img{
	width: 100%;
	height: 100%;
}
.tupian1{
	width: 1.8rem;
	height: 1.35rem;
	
	margin-top: 0.3rem;

}
.tupian1 img{
	width: 100%;
	height: 100%
}
.ckxq{
	width: 6.6rem;
	height: 0.44rem;
	
	
	position: absolute;
	left: 0.14rem;
	top: 0.27rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between
}
.ckzuo{
	/* width: 2.61rem; */
	height: 100%;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between
}
.ckyou{
	width: 0.3rem;
	height:0.3rem;
	
}
.ckyou img{
	width: 100%;
	height: 0.3rem;
}
.zuotu{
	width: 0.4rem;
	height: 0.4rem
}
.zuotu img{
	width: 100%;
	height: 100%
}
.zuozi{
	font-size: 0.26rem;
	color: black;
	margin-left: 0.1rem;
}
.peisong{
	width: 100%;
	height: 1.93rem;
	background: white;
	margin-top: 0.2rem;
}
.peisong .chakan{
	border-bottom: 0.01rem solid #e4e4e4
}
.chakan:last-child{
	border-bottom: none;
}
.peisong .ckyou{
	width: 1.01rem;
	height: 0.28rem;
	background: #2395ff;
	margin-top: 0.07rem;
	font-size: 0.24rem;
	color: white
}
.dibu{
	width: 100%;
	height: 1.93rem;
	background: white;
	margin-top: 0.2rem;
}
.dibu .chakan{
	border-bottom: 0.01rem solid #e4e4e4
}